<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="add/">
        <table border="1" width="100%">
            <tr>
                <td>Emp No</td>
                <td><input type="text" name="empno"></td>
            </tr>
            <tr>
                <td>Name </td>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td>Job</td>
                <td><input type="text" name="job"></td>
            </tr>
            <tr>
                <td>Salary</td>
                <td><input type="text" name="sal"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Add"></td>
            </tr>
        </table>
        {{msg}} <br>
        <button><a href="/update/">update Salary</a></button>
    </form>

</body>
</html>