<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1" witdh="100%">
      <tr>
        <th>Empno</th>
        <th>Ename</th>
        <th>Job</th>
        <th>Salary</th>
    </tr>
    {% for e in qs %}
    <tr>
        <td>{{e.empno}}</td>
        <td>{{e.ename}}</td>
        <td>{{e.job}}</td>
        <td>{{e.sal}}</td>
    </tr>
    {% endfor %}
    </table>
</body>
</html>