{% extends 'app1/home.html' %}
{% block content%}
<style>
    .body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .add {
        width: 300px;
        height: 300px;
        background-color: rgba(184, 184, 230, 0.5);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        position: relative;
    }
    #btn {
        background-color: #4CAF50;
        color: white;
        padding: 7px 20px;
        text-decoration: none;
        border: none;
        cursor: pointer;
       
    }
    .msg {
        color: red;
        
    }


</style>
<div class="body">
    <div class="add">
        <form action="/add/" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td>Name</td>
                    <td><input type="text" name="name" id=""></td>
                </tr>
                <tr>
                    <td>Roll Number</td>
                    <td><input type="text" name="roll_number" id=""></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input type="text" name="email" id=""></td>
                </tr>
                <tr>
                    <td>Age</td>
                    <td><input type="text" name="age" id=""></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Add" id="btn"></td>
                </tr>
            </table>
           <div class="msg"> {{msg}}</div>
        </form>
    </div>
</div>
{% endblock content%}