<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/change_pwd">
        <table border="1">
            <tr>
                <td>UserName</td>
                <td><input type="text" name="uname" id=""></td>
            </tr>
            <tr>
                <td>Old Password</td>
                <td><input type="password" name="old_pwd" id=""></td>
            </tr>
            <tr>
                <td>New Password</td>
                <td><input type="password" name="new_pwd" id=""></td>
            </tr>
            <tr>
                <td><input type="submit" value="change" name="" id=""></td>
            </tr>
        </table>
    </form>
    {{msg}}
</body>
</html>