<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <form action="/signup_view">
        <table border="2">
            <tr>
                <td>Name</td>
                <td><input type="text" name="name" id=""></td>
            </tr>
            <tr>
                <td>UserName</td>
                <td><input type="text" name="uname" id=""></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="pwd" id=""></td>
            </tr>
            <tr>
                <td><input type="submit" value="Signup"></td>
            </tr>
        </table>
    </form>
    {{msg}}
</body>
</html>