<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1" width="100%">
        <tr>
            <th>Employee No</th>
            <th>Employee Name</th>
            <th>salary</th>
        </tr>
        {% for data in emp_data|dictsort:'sal'%}
        <tr>
            <td>{{data.empno}}</td>
            <td>{{data.ename}}</td>
            <td>{{data.sal}}</td>
        </tr>
        {%endfor%}
    </table>
</body>
</html>