{% extends 'app1/base.html' %}
{% block content %}
<style>
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    .col-sm-4 {
        flex: 0 0 25%;
        margin-bottom: 20px;
        
    }
    h4 {
        margin-bottom: 10px;
        text-align: center;
        font-weight: bold;
        
    }
    table {
        width: 100%;
        height: 150px;
        border-collapse: collapse;
        margin-bottom: 20px;
        border: 1px solid #ddd;
    }
    td {
        padding: 5px;
        text-align: left;
    }
    #btn {
        padding: 10px 20px;
        background-color: blue;
        color: white;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }
    a {
       
        background-color: blue;
        color: white;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        transition: background-color 0.3s ease; 
        &:hover {
            background-color: red;
        }
        }
    
    .col-sm-8 {
        margin-left: 80px;
        padding: 20px;
        text-align: center;
        font-weight: bold;
        font-size: 10px;

    }
    a {
        height: 20px;
        line-height: 20px;
        display: inline-block;
        padding: 0 10px;
        color: white;
        text-decoration: none;
    }
   
</style>
<div class="row">
    <div class="col-sm-2">
        <h4>Add New Student</h4>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p}}
          <input type="submit" value="Add" id="btn">
        </form>
      
    </div>
    <div class="col-sm-8">
        <h4>Show Student Information</h4>
        {% if stud %}
       <table border="1" width="100%">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>email</th>
            <th>Password</th>
            <th>Action</th>
        </tr>
        {% for s in stud %}
        <tr>
            <td>{{ s.id }}</td>
            <td>{{ s.name }}</td>
            <td>{{ s.email }}</td>
            <td>{{ s.password }}</td>
            <td>
                <a href="{% url 'updateuser' s.id %}">Edit</a>
                <form action="{% url 'deleteuser' s.id%}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Delete" id="btn">
                </form>
            </td> 
        </tr>
        {% endfor %}
        {% endif %}
        </table>
    </div>
</div>
{% endblock content %}