<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div {
            font-size: 20px;
        }
    </style>
</head>
<body>
    <div>
        <h2>Courses</h2>
        <form action="/Course">
            <input type="checkbox" name="c1" value="java">java <br>
            <input type="checkbox" name="c2" value="python">Python <br>
            <input type="checkbox" name="c3" value=".net">.Net <br>
            <input type="submit" name="" value="find fee">
        </form>

    </div>
</body>
</html>