<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container {
            display: flex;
            justify-content: center;
            background-color: rgb(255, 230, 0);
            height: 50px;

        }
        a {
            margin-left: 200px;
            text-decoration: none;
            padding-top: 20px;
            font-size: 20px;
        }
       
    </style>
</head>
<body>
    <div class="container">
        <a href="/add" id="add">Add Student</a>
        <a href="/display">Viwe Student</a>
    
    </div>
</body>
</html>