<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if data == None %}
    <h2>Please Select Course</h2>
    {% endif %}
    {% for course in data %}
    {% if course == "java"%}
    <h2>Java fee 20000</h2>
    {% endif %}
    {% if course == "python"%}
    <h2>Python fee 15000</h2>
    {% endif %}
    {% if course == ".net"%}
    <h2>.Net fee 17000</h2>
    {% endif %}
    {% endfor %}
</body>
</html>