
{% extends "app1/index.html" %}
{% block content %}
        <table border="2">
            <form action="/dispemp"></form>
            <tr>
                <td>Deptno</td>
                <td><input type="text" name="deptno"></td>
            </tr>
            <tr>
                <td><input type="submit" value="create"></td>
            </tr>
        </form>
        </table>
        <table>
            <tr>
                <th>Empno</th>
                <th>Ename</th>
                <th>Job</th>
                <th>Salary</th>
            </tr>
            {%for row in qs%}
            <tr>
                <td>{{row.empno}}</td>
                <td>{{row.ename}}</td>
                <td>{{row.job}}</td>
                <td>{{row.salary}}</td>
            </tr>
            {%endfor%}
        </table>
    {{msg}}
    {% endblock %}
