<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1" width="100%">
        <tr>
            <th>Employee No</th>
            <th>Employee Name</th>
            <th>Date of Joining</th>
        </tr>
        {% for empno,data in emp_data.items %}
   
    <tr>
        <td>{{empno}}</td>
        <td>{{data.0 | default:"undfined"}}</td>
        <td>{{data.1 | default:"not assigned"}}</td>
    </tr>
    {% endfor %}
    </table>
</body>
</html>