<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="create/">
        <table>
      <tr>
        <td>Full Name</td>
        <td><input type="text" name="full_name" id=""></td>
      </tr>
      <tr>
        <td>Emp code</td>
        <td><input type="text" name="emp_code" id=""></td>
      </tr>
      <tr>
        <td>Mobile</td>
        <td><input type="text" name="mobile" id=""></td>
      </tr>
      <tr>
        <td>Position</td>
        <td><input type="text" name="position" id=""></td>
      </tr>
      <tr>
        <td><input type="submit" value="create" id=""></td>
      </tr>
    </table>
    </form>
</body>
</html>