<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <form action="/emplist">
            <table border="2" width="50%">
                <tr>
                    <td>Job</td>
                    <td><select name="job" id="">
                        <option value="manager">Manager</option>
                        <option value="hr">Hr</option>
                        <option value="clerk">Clerk</option>
                        <option value="acc">Acc</option>
                    </select></td>
                </tr>
                <tr>
                    <td><input type="submit" value="LIST"></td>
                    <td></td>
                </tr>
            </table>
        </form>
    </center>
    {%block content%}
    {%endblock%}
</body>
</html>